* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: green;
  color: white;
  padding: 1rem;
}

main {
  padding: 1rem;
}

form {
  display: grid;
  gap: 1rem;
}

input {
  padding: 0.2rem;
  margin: 0 0.5rem;
  text-align: center;
  width: max-content;
}

input[type="number"] {
  width: 50px;
  -moz-appearance: textfield;
}

input[type="submit"] {
  padding: 0.5rem;
  margin: 0;
  background: green;
  color: white;
}

.list {
  padding-top: 1rem;
}

.listItems {
  background: rgb(216, 216, 216);
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 5px 0;
}

input[type="checkbox"],
button {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

button {
  background: red;
  color: white;
  border: none;
}

button:hover {
  background: brown;
}

button:active {
  background: red;
}

.done {
  background: green;
  color: white;
}

.done p {
  text-decoration: line-through;
}
